@font-face {
    font-family: 'thaisans_neueregular';
    src: url('font/thaisansneue-regular-webfont.eot');
    src: url('font/thaisansneue-regular-webfont.eot?#iefix') format('embedded-opentype'), url('font/thaisansneue-regular-webfont.woff2') format('woff2'), url('font/thaisansneue-regular-webfont.woff') format('woff'), url('font/thaisansneue-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: "thaisans_neueregular", "Helvetica Neue", Helvetica, Arial, sans-serif, Prompt;
    font-size: 1.1em;
}

.wrapper {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.logo-box {
    display: inline-block;
    padding: 0 15px 15px 15px;
    /* border: 1px solid #eee; */
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, .1);
}

.btn-event {
    float: right;
}

.btn-event {
    margin-right: 5px;
}

.btn-partner {
    float: left;
    margin-left: 5px;
}

.content-box {
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 20px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, .1);
}

footer {
    margin-bottom: 20px;
}

.right-box {
    border: 1px solid #ff0000;
}


/* calendar */

.fc-toolbar {
    color: #f00;
    margin-top: 1em;
}

.fc-toolbar .fc-left .fc-state-default,
.fc-toolbar .fc-right .fc-state-default {
    background-color: #fff;
    background-image: -moz-linear-gradient(top, #fff, #fff);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#fff));
    background-image: -webkit-linear-gradient(top, #fff, #fff);
    background-image: -o-linear-gradient(top, #fff, #fff);
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-repeat: repeat-x;
    border-color: #fff #fff #fff;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    color: #f00;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1), 0 1px 2px rgba(0, 0, 0, 0);
}

.fc button {
    padding: 0;
}

.fc-toolbar h2 {
    margin-top: 2px;
}

.fc-ltr .fc-basic-view .fc-day-number {
    text-align: center;
}

.fc-day-grid-container.fc-scroller {
    height: 100% !important;
}

.fc-basic-view tbody .fc-row {
    min-height: 1em;
}

.fc td,
.fc th,
.fc td.fc-today {
    border-style: none;
    font-weight: normal;
}

td.fc-day-number.fc-today {
    background: none;
    text-align: center;
    border: 1px solid #ff0000 !important;
    border-radius: 50%;
    display: block;
}

.fc-unthemed .fc-today {
    background: #fff;
}

span.fc-title,
span.fc-time {
    display: none;
}

.midle-box {
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, .1);
}

.in-midle-box {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, .1);
}

span.stat {
    border: 1px solid #ff0000;
    padding: 10px 20px;
    line-height: 50px;
}

.left-box {
    border: 1px solid #ff0000;
    padding-top: 40px;
    padding-bottom: 10px;
    display: inline-block;
}

.left-box .icon {
    width: 20px;
    display: block;
    margin: 0 auto;
}

.red-line {
    border-top: 1px solid #ff0000;
}

.carousel-control {
    opacity: unset;
}

.slide .glyphicon-menu-left,
.slide .glyphicon-menu-right,
.slide .fa-angle-left,
.slide .fa-angle-right {
    color: #f00;
    font-size: 2.5em;
    position: absolute;
    top: 45%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

.carousel-indicators .active {
    background-color: #f00;
}

.carousel-indicators li {
    border-color: #f00;
}

.title-partner-box {
    margin-bottom: 30px;
}

.title {
    min-height: 90px;
    padding-top: 2px;
    margin-top: 10px;
    background-image: url('/frontend/img/Title.png');
    background-repeat: no-repeat;
    background-position: center top;
}

.title h1 {
    color: #fff;
    font-weight: 900;
    text-shadow: 0 0 10px #333;
    margin-top: 10px;
}

.card {
    border-radius: 0;
    margin-bottom: 15px;
}

.card p {
    margin-bottom: 0;
}

.card img {
    width: 100%;
}

.text-red {
    color: #f00;
}

.btn {
    font-size: 1em;
    padding: 0px 15px;
}

.btn-white {
    color: #f00;
    background-color: #fff;
    border-color: #f00;
    border-radius: 0px;
}

.btn-white.focus,
.btn-white:focus,
.btn-white:hover {
    color: #fff;
    background-color: #f00;
    text-decoration: none;
}

.table-contact th {
    background-color: #eee;
    text-align: center;
}

.slider {
    width: 100%;
    margin: auto;
}

.slider-nav,
.slider-for {
    width: 90%;
}

.lazy {
    width: 95%;
}

.slick-slide {
    margin: 0px 5px;
}

.slick-slide img {
    width: 100%;
}

.slick-slide iframe {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: red;
}

.slick-slide {
    transition: all ease-in-out .1s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.video-box {
    width: 95%;
    margin: 15px auto;
}

.partner-sj {
    display: block;
    width: 150px;
    float: left;
}

.center-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-link:hover,
.text-link:focus {
    text-decoration: none;
}

img.national-flag {
    width: 60%;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}

a p {
    color: #000;
    text-decoration: none;
}

.pagination>li>a,
.pagination>li>span {
    color: #ff0000;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #ff0000;
    border-color: #ff0000;
}

@media (min-width: 768px) {
    .equal {
        display: -webkit-flex;
        display: flex;
    }
    .equal>div {
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        display: -webkit-flex;
        flex-wrap: wrap;
    }
}