@font-face {
    font-family: 'thaisans_neueregular';
    src: url('thaisansneue-regular-webfont.eot');
    src: url('thaisansneue-regular-webfont.eot?#iefix') format('embedded-opentype'), url('thaisansneue-regular-webfont.woff2') format('woff2'), url('thaisansneue-regular-webfont.woff') format('woff'), url('thaisansneue-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: "thaisans_neueregular", "Helvetica Neue", Helvetica, Arial, sans-serif, Prompt;
    font-size: 20px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #fff;
}

p {
    margin: 0 0 2px;
}

.btn,
.dropdown-menu,
.form-control,
.input-group-addon {
    font-size: 20px;
}